* {
    background-color: beige;
}

.title {
    text-align: center;
}

.order-list {
    text-align: center;
    padding: 10px 10px;
}

.recipes {
    display: inline-block;
    padding: 10px;
    border: 2px solid;
}

.recipes.link {
    /* text-decoration: none;
    text-decoration: ; */
}

h3 {
    font-size: 25px;
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: azure; */
}

p {
    background-color: aqua;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ingredients {
    /* background-color: bisque; */
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.steps {
    /* background-color: bisque; */
    color: rgb(133, 48, 48);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}